#hamburger-icon{
    margin-left: auto;
    display: none;
    cursor: pointer;
}

#hamburger-icon div{
    width: 3rem;
    height: 0.3rem;
    background-color: var(--color-box);
    margin: 0.6rem 0;
    transition: 0.4s;
    margin-right: 2rem;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-0.6rem, 0.6rem);
    transform: rotate(-45deg) translate(-0.6rem, 0.6rem);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-0.6rem, -0.8rem);
    transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
}

.mobile-menu{
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    width: 100%;
    background-color: var(--color-nav);
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
    padding: 2rem;
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width:768px) and ( max-width:1023px ) {
    #hamburger-icon{
        display: block;
    }
}

@media screen and (min-width:200px) and ( max-width:767px ) {
    #hamburger-icon{
        display: block;
    }
}