#skill{
    background-color: rgba(var(--color-box-bg), 0.5);
    margin: 2rem 0 0 0;
    padding: 2rem;
    color: var(--color-text);
}

.skilled{
    opacity: 0;
    filter: blur(0.5rem);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.skill-head{
    color: var(--color-text);
    font-weight: 800;
    flex-basis: 100%;
    margin-top: -1rem;
    padding: 2rem;
}
.container {
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 3rem;
    opacity: 0;
    transform: translateX(-20%);
    transition: all 2s;
}
.reveal{
    opacity: 1;
    transform: translate(0);
}

.skills {
    padding: 0.2rem 0;
    color: var(--color-primary);
    border-radius: 3rem;
}

.skill-pod p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.html {width: 70%; background-color: var(--color-nav);} 
.css {width: 80%; background-color: var(--color-nav);} 
.js {width: 20%; background-color: var(--color-nav);} 
.react {width: 40%; background-color: var(--color-nav);} 

.vs {width: 65%; background-color: var(--color-nav);} 
.git {width: 50%; background-color: var(--color-nav);} 
.write {width: 60%; background-color: var(--color-nav);} 
.design {width: 40%; background-color: var(--color-nav);}
.figma {width: 40%; background-color: var(--color-nav);}

.english {width: 100%; background-color: var(--color-nav);} 
.igbo {width: 100%; background-color: var(--color-nav);} 
.spanish {width: 30%; background-color: var(--color-nav);} 
.jap {width: 10%; background-color: var(--color-nav);}

@media screen and (min-width:1024px) {
    #skill{
        background-color: rgba(var(--color-box-bg), 0.5);
        margin: 2rem 0 0 0;
        padding: 2rem;
        color: var(--color-text);
        display: grid;
        grid-template-columns: auto auto;
    }
    .skill-head{
        color: var(--color-text);
        font-weight: 800;
        flex-basis: 100%;
        margin-top: -1rem;
        padding: 2rem;
    }
    .skill-pod{    
        position: relative;
        margin: 1rem;
        background-color: var(--color-box);
        padding: 2rem;
        width: auto;
        border-radius: 0.6rem;
        box-shadow: 0 0 0.8rem rgba(var(--color-primary-bg),0.8);
    }
    .container {
        width: 100%;
        background-color: var(--color-primary);
        border-radius: 3rem;
    }
    .skills {
        padding: 0.2rem 0;
        color: var(--color-primary);
        border-radius: 3rem;
    }

    .html {width: 80%; background-color: var(--color-nav);} 
    .css {width: 85%; background-color: var(--color-nav);} 
    .js {width: 25%; background-color: var(--color-nav);} 
    .react {width: 45%; background-color: var(--color-nav);} 

    .vs {width: 65%; background-color: var(--color-nav);} 
    .git {width: 50%; background-color: var(--color-nav);} 
    .write {width: 60%; background-color: var(--color-nav);} 
    .design {width: 40%; background-color: var(--color-nav);} 
    .figma {width: 40%; background-color: var(--color-nav);}

    .english {width: 100%; background-color: var(--color-nav);} 
    .igbo {width: 100%; background-color: var(--color-nav);} 
    .spanish {width: 30%; background-color: var(--color-nav);} 
    .jap {width: 10%; background-color: var(--color-nav);}
}

@media screen and (min-width:768px) and ( max-width:1023px ) {
    #skills{
        display: grid;
        grid-template-columns: 1fr;
    }

    .skill-pod{    
        position: relative;
        margin: 1rem;
        background-color: var(--color-box);
        padding: 2rem;
        width: auto;
        border-radius: 0.6rem;
        box-shadow: 0 0 0.8rem rgba(var(--color-primary-bg),0.8);
    }

}

@media screen and (min-width:200px) and ( max-width:767px ) {

    #skills{
        display: grid;
        grid-template-columns: auto;
    }

    .skill-pod{    
        position: relative;
        margin: 1rem;
        background-color: var(--color-box);
        padding: 2rem;
        width: auto;
        border-radius: 0.6rem;
        box-shadow: 0 0 0.8rem rgba(var(--color-primary-bg),0.8);
    }
}